h4{
    text-align: center;
    margin: 0.5rem 0;
}
.pokemon-wrapper-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
}